<% if @posts %>
  <% @posts.each_with_index do |post, index| %>
  <% post_id = post.id %>
    <p class="post-listing">
    <% if post.url.length > 0 %>
      <a id="post-<%= index %>" href="<%= post.url %>"><%= post.title %></a>
    <% else %>
      <a href="/posts/<%= post_id %>"><%= post.title %></a>
    <% end %>
    <br>

    <% unless post.votes.find_by(user_id: session[:user_id]) && session[:user_id] %>
      <a class="vote" href="/posts/<%= post_id %>/votes">vote</a>
    <% end %>

    <% if last_vote = post.votes.last %>
      last voted by: <a class="last-voter" href="/users/<%= last_vote.user_id %>"><%= last_vote.user.username %></a> |
    <% end %>

    vote count: <%= post.votes.count %> |
      created by: <a href="/users/<%= post.user_id  %>"><%= post.user.username %></a> |
      <% if post.user_id == session[:user_id] && session[:user_id] %>
        <a href="/posts/<%= post_id %>/edit">edit</a> | <a id="delete-<%= post_id %>" href="/posts/<%= post_id %>/delete">delete</a>
      <% end %>
    </p>
  <% end %>
<% end %>
