<% if @post %>

  <h3><%= @post.title %></h3>
  <% post_id = @post.id %>
  <% if @post.user.id == session[:user_id] && session[:user_id] %>
    <h4><a href="/users/<%= session[:user_id] %>"><%= @post.user.username %></a> | <a href="/posts/<%= post_id %>/edit">edit</a> | <a href="/posts/<%= post_id %>/delete">delete</a></h4>
  <% end %>
  <p><%= @post.content %></p>
  <br>
  <br>
  <%= erb :'/comments/new_comment', locals: { post_id: post_id } %>
  <br>
  <br>
  <br>
  <ul>
  <% @post.comments.each do |comment| %>

    <li>
      <p>
        <%= comment.content %><br>
        <a href="/users/<%= comment.user_id %>"> commented by: <%= comment.user.username %></a>
        <% comment_id = comment.id %>
        <% if comment.user_id == session[:user_id] && session[:user_id] %>
          | <a href="/posts/<%= post_id %>/comments/<%= comment_id %>/edit">edit</a> | <a href="/posts/<%= post_id %>/comments/<%= comment_id %>/delete">delete</a>
        <% end %>
        <br>

        <a href="/post/<%= post_id %>/comments/<%= comment_id %>/subcomments/new">reply</a>
        <% if comment.subcomments.length > 0 %>
        <% comment.subcomments.each do |sub| %>
        <ul>
          <li><p><%= sub.content %><br>
        <a href="/users/<%= sub.user_id %>"> commented by: <%= sub.user.username %></a>
        <% sub_id = sub.id %>
        <% if sub.user_id == session[:user_id] && session[:user_id] %>
          | <a href="/posts/<%= post_id %>/comments/<%= sub_id %>/edit">edit</a> | <a href="/posts/<%= post_id %>/comments/<%= sub_id %>/delete">delete</a>
        <% end %>
        <br><a href="/post/<%= post_id %>/comments/<%= sub.id %>/subcomments/new">reply</a></p></li>
          <% if sub.subcomments.length > 0 %>
            <ul>
              <% sub.subcomments.each do |subsub| %>
                <li><p><%= subsub.content %><br>
                  <a href="/users/<%= subsub.user_id %>"> commented by: <%= subsub.user.username %></a>
                  <% subsub_id = subsub.id %>
                  <% if subsub.user_id == session[:user_id] && session[:user_id] %>
                    | <a href="/posts/<%= post_id %>/comments/<%= subsub_id %>/edit">edit</a> | <a href="/posts/<%= post_id %>/comments/<%= subsub_id %>/delete">delete</a>
                  <% end %>
                <br><a href="/post/<%= post_id %>/comments/<%= subsub.id %>/subcomments/new">reply</a></p></li>
                  <% if subsub.subcomments.length > 0 %>
                    <ul>
                      <% subsub.subcomments.each do |subsubsub| %>
                        <li><p><%= subsubsub.content %><br>
                  <a href="/users/<%= subsubsub.user_id %>"> commented by: <%= subsubsub.user.username %></a>
                  <% subsubsub_id = subsubsub.id %>
                  <% if subsubsub.user_id == session[:user_id] && session[:user_id] %>
                    | <a href="/posts/<%= post_id %>/comments/<%= subsubsub_id %>/edit">edit</a> | <a href="/posts/<%= post_id %>/comments/<%= subsubsub_id %>/delete">delete</a>
                  <% end %>
                  <br>
                  <a href="/post/<%= post_id %>/comments/<%= subsubsub.id %>/subcomments/new">reply</a></p></li>
                        <% if subsubsub.subcomments.length > 0 %>
                          <ul>
                            <% subsubsub.subcomments.each do |subsubsubsub| %>
                              <li><p><%= subsubsubsub.content %><br>
                                <a href="/users/<%= subsubsubsub.user_id %>"> commented by: <%= subsubsubsub.user.username %></a>
                                <% subsubsubsub_id = subsubsubsub.id %>
                                <% if subsubsubsub.user_id == session[:user_id] && session[:user_id] %>
                                  | <a href="/posts/<%= post_id %>/comments/<%= subsubsubsub_id %>/edit">edit</a> | <a href="/posts/<%= post_id %>/comments/<%= subsubsubsub_id %>/delete">delete</a>
                                <% end %>
                                <br></p></li>
                            <% end %>
                          </ul>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
              <% end %>
            </ul>
          <% end %>
        </ul>
        <% end %>
      <% end %>
      </p>
    </li>
  <% end %>
</ul>
<% end %>
